* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    padding: 3rem;
    text-align: center;
    font-family: Verdana;
    background-color: black;
    line-height: 8rem;
}

h1 {
    color: white;
    font-size: 5rem;
    font-weight: normal;
}

h2 {
    color: white;
    font-size: 4.2rem;
    font-weight: 300;
}

a, .link {
    color: aquamarine;
    font-size: 1.6rem;
}

p {
    color: gray;
    font-size: 2.1rem;
}

#copyright {
    text-align: right;
    line-height: 2rem;
}